node_modules
.next
.env.local
.env
dist
build
.vercel
*.log
tsconfig.tsbuildinfo
lint.json
lint_output.json
lint_output.txt
lint_results.json
all_lint_errors.json
eslint.json
build_err*.txt
eslint_*.txt
tsc*.txt

.vercel
.env*.local
